@charset "UTF-8";

/* ベースのスタイル
------------------------------------------------------------*/

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.75;
  color: #333;
  background-color: #fffff6;
}

@media (min-width: 1366px) {
  body {
    font-size: 1rem;
  }
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

span {
  display: block;
}

/* 共通のスタイル
------------------------------------------------------------*/
h2 {
  margin: 0 auto;
}

@media (min-width: 1366px) {
  .profile,
  .skills,
  .contact {
    margin-bottom: 40px;
    font-size: 40px;
  }
}

/* コンテナ */
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1366px;
  padding: 0 60px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: #f3b3bd;
  height: 55px;
}
@media (min-width: 1366px) {
  .header {
    height: 60px;
  }
}

/* ロゴ */
.header-logo {
  display: flex;
  height: 40px;
  margin-top: 5px;
}

@media (min-width: 1366px) {
  .header-logo {
    width: auto;
    height: 44px;
  }
}

.header-logo img {
  margin-left: 39px;
}

@media (min-width: 1366px) {
  .header-logo img {
    margin-left: 22px;
  }
}

/* ハンバーガーボタン */
.hamburger-button {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  padding-top: 2px;
  padding-right: 20px;
}

@media (min-width: 1366px) {
  .hamburger-button {
    display: none;
  }
}

.hamburger-button i {
  line-height: 0;
}

/* ハンバーガーメニュー、ヘッダーナビ
------------------------------------------ */

@media (min-width: 390px) {
  .hamburger-menu {
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #fff;
    transition: all 0.6s;
    transform: translateX(100%);
  }
}

@media (min-width: 1366px) {
  .hamburger-menu {
    position: static;
    transform: none;
    height: auto;
    background: none;
  }
}

.hamburger-menu li {
  border-bottom: #f3b3bd 3px solid;
  margin: 0 25px;
}

@media (min-width: 1366px) {
  .hamburger-menu li {
    margin: 0;
  }
}

/* アクティブ状態 */
.hamburger-menu-active {
  transform: translateX(0);
}

/* ナビゲーション */
@media (min-width: 390px) {
  .hamburger-menu-list-group {
    width: auto;
    height: auto;
  }
}

@media (min-width: 390px) {
  .hamburger-menu-list-group a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
  }
}

@media (min-width: 1366px) {
  .header-nav-list-group {
    height: 100%;
    line-height: 1;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    justify-content: flex-end;
  }
}

@media (min-width: 1366px) {
.header-nav .fa-angle-right {
  display: none;
  }
}

/* リンクのhover色 */
.header-nav a:hover {
  color: #d9d9d9;
}

.main-visual {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 55px 0 0;
  background-image: url("main-visual.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 285px;
  line-height: 1;
}

@media (min-width: 1366px) {
  .main-visual {
    height: 100vh;
  }
}

.main-visual-title,
.main-visual-text {
  display: flex;
  justify-content: center;
}

.main-visual-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 11px;
}

@media (min-width: 1366px) {
  .main-visual-title {
    font-size: 83px;
  }
}

.main-visual-text {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 3px;
}

@media (min-width: 1366px) {
  .main-visual-text {
    font-size: 62px;
  }
}

/* portfolio */
.portfolio,
.profile,
.skills {
  border-bottom: 1px solid #d9d9d9;
}

.portfolio {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  background-color: #fffff6;
}

@media (min-width: 1366px) {
  .portfolio {
    font-size: 26px;
    padding-top: 22px;
    }
  }

.portfolio .container {
  padding: 0 57px 45px 47px;
}

@media (min-width: 1366px) {
  .portfolio .container {
    padding: 0 60px 45px;
  }
}


.portfolio-title {
  margin-bottom: 3px;
}

@media (min-width: 1366px) {
  .portfolio-title {
    margin-bottom: 30px;
  }
}

@media (min-width: 1366px) {
  .portfolio-group {
    display: flex;
    gap: 50px;
  }
}

.portfolio-img {
  border-radius: 50%;
  width: 40%;
  height: 40%;
  margin: 0 auto;
}

.portfolio-first-catch {
  padding-top: 70px;
  padding-left: 6px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.portfolio-second-catch {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.portfolio-first,
.portfolio-second,
.portfolio-third
{
  display: flex;
  flex-direction: column;
}

.portfolio-first {
  margin-bottom: 30px;
}

.portfolio-first-img,
.portfolio-second-img {
  margin: 0 auto;
}

.portfolio-first-img {
  width: 154px;
  height: 128px;
}

@media (min-width: 1366px) {
  .portfolio-first-img {
    margin-bottom: 20px;
  }
}

.left-img {
  width: 60px;
  height: 130px;
  margin-right: 7px
}

.right-img {
  width: 129px;
  height: 129px;
}

@media (min-width: 1366px) {
  .left-img,
  .right-img {
    width: auto;
    height: 183px;
  }
}



/* profile */

.profile {
  padding-top: 23px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  background-color: #fffff6;
}

@media (min-width: 1366px) {
  .profile {
    padding-top: 22px;
    font-size: 27px;
  }
}

.profile .container {
  padding-bottom: 23px;
}

.profile-title {
  margin-bottom: 9px;
}

@media (min-width: 1366px) {
.profile-item {
  display: flex;
  flex-direction: column;
  }
}

.profile-text {
  margin-top: 9px;
}

@media (min-width: 1366px) {
  .profile-text {
  margin-top: 0;
  }
}

.profile-name {
  text-align: center;
  padding-right: 4px;
}

@media (min-width: 1366px) {
  .profile-name {
    text-align: center;
  }
}

.profile-introduction {
  line-height: 1.2;
  margin-top: 24px;
  margin-left: 9px;
}

@media (min-width: 1366px) {
  .profile-introduction {
    font-size: 20px;
    width: 372px;
  }
}

.profile img {
  border-radius: 50%;
  width: 108.5px;
  height: 108.5px;
  margin: 0 auto;
  display: flex;
}

@media (min-width: 1366px) {
  .profile img {
    width: 184px;
    height: 184px;
  }
}

.profile introduction {
  line-height: 1.2;
  margin-top: 24px;
  margin-left: 9px;
}

/* skills */
.skills {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  background-color: #fffff6;
}

@media (min-width: 1366px) {
  .skills {
    padding-top: 22px;
    padding-bottom: 52px;
    font-size: 27px;
  }
}

.skills .container {
  padding: 0 50px;
}

.skills p {
  font-size: 16px;
}

@media (min-width: 1366px) {
  .skills p {
    font-size: 24px;
  }
}

.skills li {
  font-size: 14px;
  white-space: nowrap;
}

@media (min-width: 1366px) {
  .skills li {
    font-size: 20px;
  }
}

.touls {
  display: flex;
  gap: 86px;
  margin-left: 35px;
  margin-top: 5px;
}

@media (min-width: 1366px) {
  .touls {
    gap: 42px;
    justify-content: center;
    margin-top: 22px;
    margin-right: 50px;
  }
}

.touls-text,
.web-design-text {
  margin: 6px 0 0 78px;
  font-size: 14px;
}
@media (min-width: 1366px) {
  .touls-text {
    margin: 12px 45px 0 108px;
  }
}
.web-design-text {
  margin-top: 26px;
}

@media (min-width: 1366px) {
  .web-design-text {
    margin: 23px 45px 0 108px;
  }
}

.icon-clover {
  color: #00a61b;
  font-size: 22px;
}

@media (min-width: 1366px) {
  .icon-clover {
    font-size: 30px;
  }
}

.web-design {
  padding-top: 17px;
  padding-left: 17px;
  line-height: 2.1;
}

@media (min-width: 1366px) {
  .web-design {
    line-height: 1.5;
    font-size: 20px;
  }
}

.skills-item {
  display: flex;
  flex-direction: column;
}

/* contact */

.contact {
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  background-color: #fffff6;
}

@media (min-width: 1366px) {
  .contact {
    padding-top: 22px;
    font-size: 27px;
  }
}

.contact-title {
  margin: 0 90px 3px;
}

@media (min-width: 1366px) {
  .contact-title {
    margin: 0 auto;
  }
}

ul.contact {
  display: flex;
  flex-direction: row;
  margin: 0 55px;
  gap: 40px;
  padding-top: 6px;
}

ul.contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 60px;
  height: 60px;
  font-size: 27px;
  line-height: 0;
  color: #333;
}

@media (min-width: 1366px) {
  ul.contact a {
    width: 100px;
    height: 100px;
  }
}

form {
  width: 280px;
  margin: 15px 0 15px;
}
@media (min-width: 768px) {
  form {
    margin: 15px 35px 15px;
  }
}

/* 入力欄（送信ボタン以外） */
input:not([type="submit"]),
textarea {
  width: 100%;
  max-width: 100%;
  border: 1px solid #d9d9d9;
  margin: 13px 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px
}
/* 送信ボタン */
.form-button {
  display: flex;
  justify-content: center;
}
input[type="submit"] {
  background: #d9d9d9;
  color: #333;
  float: none;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 8px;
}
/* プレースホルダー */
input::placeholder,
textarea::placeholder {
  color: #999;
}
/* textarea */
textarea {
  height: 150px;
}
/* captcha */
.captcha {
  float: left;
}
.captcha input {
  float: right;
}
.captcha input[name="question"] {
  width: 4rem;
  text-align: right;
  padding-right: 0;
}
.captcha input[name="captcha"] {
  width: 5rem;
  padding-left: 0.5rem;
  text-align: center;
}

/* フッター */
.footer {
  background-color: #f3b3bd;
  padding: 10px 0;
  text-align: center;
}

.footer-copyright {
  font-size: 10px;
  margin: 0 auto;
}
